---
Checks: "bugprone-*,\
  misc-*,\
  modernize-*,\
  performance-*,\
  portability-*,\
  "
RemoveChecks: modernize-use-trailing-return-type
HeaderFilterRegex: 'Source/cm[^/]*\.(h|hxx|cxx)$'
CheckOptions:
  - key: modernize-use-default-member-init.UseAssignment
    value: '1'
  - key: modernize-use-equals-default.IgnoreMacros
    value: '0'
  - key: modernize-use-auto.MinTypeNameLength
    value: '80'
